<section class="our-teacher">
    <div class="main-title title-image">
        <h1>Gallery</h1>
    </div>
</section>
<section class="container" style="margin-top: -70px;">
    {{!-- Gallery --}}

    <div class="gallery {{#if adminHere}} edit-boarder {{/if}}">
        {{#if adminHere}} <a class="admin-edit edit-icon-content" data-title="Edit" href="/admin/gallery"
            target="_blank"><i class="bi bi-pencil-fill"></i></a> {{/if}}
        <div class="section">
            {{#each Gallery.Group1}}
            <div class="item">
                <img src="/images/gallery/{{this.Id}}.jpg" alt="{{this.Title}}" title="{{this.Title}}" onclick="zoomImage('{{this.Id}}')"
                    onclick="zoomImage('{{this.Id}}')">
                <div class="gallery-overly">
                    <h5 id="title{{this.Id}}">{{this.Title}}</h5>
                    <p id="description{{this.Id}}" hidden>{{this.Description}}</p>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="section">
            {{#each Gallery.Group2}}
            <div class="item">
                <img src="/images/gallery/{{this.Id}}.jpg" alt="{{this.Title}}" title="{{this.Title}}" onclick="zoomImage('{{this.Id}}')">
                <div class="gallery-overly">
                    <h5 id="title{{this.Id}}">{{this.Title}}</h5>
                    <p id="description{{this.Id}}" hidden>{{this.Description}}</p>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="section">
            {{#each Gallery.Group3}}
            <div class="item">
                <img src="/images/gallery/{{this.Id}}.jpg" alt="{{this.Title}}" title="{{this.Title}}" onclick="zoomImage('{{this.Id}}')">
                <div class="gallery-overly">
                    <h5 id="title{{this.Id}}">{{this.Title}}</h5>
                    <p id="description{{this.Id}}" hidden>{{this.Description}}</p>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="section">
            {{#each Gallery.Group4}}
            <div class="item">
                <img src="/images/gallery/{{this.Id}}.jpg" alt="{{this.Title}}" title="{{this.Title}}" onclick="zoomImage('{{this.Id}}')">
                <div class="gallery-overly">
                    <h5 id="title{{this.Id}}">{{this.Title}}</h5>
                    <p id="description{{this.Id}}" hidden>{{this.Description}}</p>
                </div>
            </div>
            {{/each}}
        </div>


    </div>

    {{!-- Gallery One Image --}}

    <div id="gallery-one" class="gallery-one">
        <div class="border " onclick="closeGallery()">
            <div>
                <div>
                    <img id="one-image" src="/images/gallery/1u4fdkN3nF.jpg" alt="gallery">
                </div>
                <h3 id="one-title">sdfsdfsd</h3>
                <p id="one-description">sfsdfsdfsd</p>
            </div>
        </div>
        <div class="icon" onclick="closeGallery()">
            <i class="bi bi-x-circle"></i>
        </div>
    </div>

</section>

<script>

    let one = document.getElementById('gallery-one')
    let oneImage = document.getElementById('one-image')
    let oneTitle = document.getElementById('one-title')
    let oneDescription = document.getElementById('one-description')
    function zoomImage(Id) {

        let title = document.getElementById('title' + Id);
        let description = document.getElementById('description' + Id)


        one.style.display = 'block'
        oneImage.src = "/images/gallery/" + Id + ".jpg"
        oneTitle.innerHTML = title.innerHTML
        oneDescription.innerHTML = description.innerHTML
    }
    function closeGallery() {
        one.style.display = 'none'

    }
</script>