<section class="slider-section-div" >
  {{!-- Slider --}}
  <div class="slider-div">
    {{#if adminHere}}
    <a class="admin-edit edit-icon-carousel" data-title="Edit" target="_blank" href="/admin/first-page/slider"><i
        class="bi bi-camera-fill"></i></a>
    {{/if}}
    <div class="slider">
      <div class="slide active">
        <img src="/images/slider/{{Slides.[0].Id}}.jpg" alt="">
        <div class="info">
          <h2>{{Slides.[0].Header}}</h2>
          <p>{{Slides.[0].Content}}</p>

        </div>
      </div>
      <div class="slide">
        <img src="/images/slider/{{Slides.[1].Id}}.jpg" alt="">
        <div class="info">
          <h2>{{Slides.[1].Header}}</h2>
          <p>{{Slides.[1].Content}}</p>

        </div>
      </div>
      <div class="slide">
        <img src="/images/slider/{{Slides.[2].Id}}.jpg" alt="">
        <div class="info">
          <h2>{{Slides.[2].Header}}</h2>
          <p>{{Slides.[2].Content}}</p>
        </div>
      </div>
      <div class="slide">
        <img src="/images/slider/{{Slides.[3].Id}}.jpg" alt="">
        <div class="info">
          <h2>{{Slides.[3].Header}}</h2>
          <p>{{Slides.[3].Content}}</p>
        </div>
      </div>
      <div class="slide">
        <img src="/images/slider/{{Slides.[4].Id}}.jpg" alt="">
        <div class="info">
          <h2>{{Slides.[4].Header}}</h2>
          <p>{{Slides.[4].Content}}</p>
        </div>
      </div>
      <div class="navigation">
        <i class="bi bi-chevron-compact-left prev-btn"></i>
        <i class="bi bi-chevron-compact-right next-btn"></i>
      </div>
      <div class="navigation-visibility">
        <div class="slide-icon active"></div>
        <div class="slide-icon"></div>
        <div class="slide-icon"></div>
        <div class="slide-icon"></div>
        <div class="slide-icon"></div>
      </div>
    </div>
  </div>

</section>
<section class="home-container" style="">
  {{!-- Noorul huda content --}}
  <div class="content-div {{#if adminHere}} edit-boarder {{/if}}">
    {{#if adminHere}} <a class="admin-edit edit-icon-content" data-title="Edit" href="/admin/first-page/the-nsa"
      target="_blank"><i class="bi bi-pencil-fill"></i></a> {{/if}}
    <h3 class="header" id="NSA-Header">{{TheNsa.Header}}</h3>
    <p class="perag">{{TheNsa.Para1}}</p>
    <p class="perag">{{TheNsa.Para2}}</p>
    <p class="perag">{{TheNsa.Para3}}</p>
    <p class="perag">{{TheNsa.Para4}}</p>
    <p class="perag">{{TheNsa.Para5}}</p>
  </div>

  {{!-- College content --}}
  <div class="content-div {{#if adminHere}} edit-boarder {{/if}} ">
    {{#if adminHere}} <a class="admin-edit edit-icon-content" data-title="Edit" target="_blank"
      href="/admin/first-page/the-majma"><i class="bi bi-pencil-fill"></i></a> {{/if}}
    <h3 class="header" id="Majma-Header">{{TheMajma.Header}}</h3>
    <p class="perag">{{TheMajma.Para1}}</p>
    <p class="perag">{{TheMajma.Para2}}</p>
    <p class="perag">{{TheMajma.Para3}}</p>
    <p class="perag">{{TheMajma.Para4}}</p>
    <p class="perag">{{TheMajma.Para5}}</p>
  </div>

  {{!-- four links --}}

  <div class="four-links {{#if adminHere}} edit-boarder {{/if}}">
    {{#if adminHere}} <a class="admin-edit edit-icon-content" data-title="Edit" target="_blank"
      href="/admin/first-page/links"><i class="bi bi-pencil-fill"></i></a> {{/if}}
    <a href="{{Links.Cic}}" target="_blank">
      <div class="link-div">
        <i class="bi bi-mortarboard-fill"></i>
        <h4>Our university; <br>
          WAFY - CIC
        </h4>
      </div>
    </a>
    <a href="{{Links.College}}" target="_blank">
      <div class="link-div">
        <i class="bi bi-easel-fill"></i>
        <h4>Our Institution;<br> MAJMA'A KAVANUR
        </h4>
      </div>
    </a>
    <a href="{{Links.Wsf}}" target="_blank">
      <div class="link-div">
        <i class="bi bi-people-fill"></i>
        <h4>Our Association; <br> W S F
        </h4>
      </div>
    </a>
    <a href="/contact-us">
      <div class="link-div">
        <i class="bi bi-headset"></i>
        <h4> Contact me
        </h4>
      </div>
    </a>

  </div>
  <div class="demmi-div" style="height: 220px;"></div>
  {{!-- letest news --}}

  <div class=" content-div   ">
    <h3 class="header">
      <div class="header-line"></div>
      <span class="first-word">NEWS</span> UPDATES
    </h3>
    <div class="news-div">
      {{#each FourNews}}
      <div class="news-item">
        <div class="img-hover-zoom">
          <img src="/images/news/{{this.Id}}.jpg" alt="news-cover">
        </div>
        <h4>{{this.Header}}</h4>
        <p>{{this.Content.[0]}}</p>
        <a href="/news/{{this.Id}}"><button class="btn-md hover-fill-dr">Read more</button></a>
      </div>
      {{/each}}

    </div>
    <div class="seemore">
      <a href="/news" class="btn-lg hover-fill-grn">See more</a>
    </div>

  </div>
</section>




{{!-- carousel slider --}}
<script type="text/javascript">
  const slider = document.querySelector(".slider");
  const nextBtn = document.querySelector(".next-btn");
  const prevBtn = document.querySelector(".prev-btn");
  const slides = document.querySelectorAll(".slide");
  const slideIcons = document.querySelectorAll(".slide-icon");
  const numberOfSlides = slides.length;
  var slideNumber = 0;

  //image slider next button
  nextBtn.addEventListener("click", () => {
    slides.forEach((slide) => {
      slide.classList.remove("active");
    });
    slideIcons.forEach((slideIcon) => {
      slideIcon.classList.remove("active");
    });

    slideNumber++;

    if (slideNumber > (numberOfSlides - 1)) {
      slideNumber = 0;
    }

    slides[slideNumber].classList.add("active");
    slideIcons[slideNumber].classList.add("active");
  });

  //image slider previous button
  prevBtn.addEventListener("click", () => {
    slides.forEach((slide) => {
      slide.classList.remove("active");
    });
    slideIcons.forEach((slideIcon) => {
      slideIcon.classList.remove("active");
    });

    slideNumber--;

    if (slideNumber < 0) {
      slideNumber = numberOfSlides - 1;
    }

    slides[slideNumber].classList.add("active");
    slideIcons[slideNumber].classList.add("active");
  });

  //image slider autoplay
  var playSlider;

  var repeater = () => {
    playSlider = setInterval(function () {
      slides.forEach((slide) => {
        slide.classList.remove("active");
      });
      slideIcons.forEach((slideIcon) => {
        slideIcon.classList.remove("active");
      });

      slideNumber++;

      if (slideNumber > (numberOfSlides - 1)) {
        slideNumber = 0;
      }

      slides[slideNumber].classList.add("active");
      slideIcons[slideNumber].classList.add("active");
    }, 4000);
  }
  repeater();

  //stop the image slider autoplay on mouseover
  slider.addEventListener("mouseover", () => {
    clearInterval(playSlider);
  });

  //start the image slider autoplay again on mouseout
  slider.addEventListener("mouseout", () => {
    repeater();
  });
</script>


{{!-- Color change --}}

<script>

  let nsa = document.getElementById('NSA-Header').innerHTML
  const first = nsa.split(' ').shift();
  document.getElementById("NSA-Header").innerHTML = nsa.replace(first, `<span class ="first-word">` + first + `</span>`);

  let majma = document.getElementById('Majma-Header').innerHTML
  const fir = majma.split(' ').shift();
  document.getElementById("Majma-Header").innerHTML = majma.replace(fir, `<span class ="first-word">` + fir + `</span>`);

</script>