<section class="our-teacher">
    <div class="main-title title-image">
        <h1>NEWS UPDATES</h1>
    </div>
</section>
<section class="container" style="margin-top: -80px;">
    <div class="news-div {{#if adminHere}} edit-boarder {{/if}}">
    {{#if adminHere}} <a class="admin-edit edit-icon-content" data-title="Edit" href="/admin/news"
            target="_blank"><i class="bi bi-pencil-fill"></i></a> {{/if}}
      {{#each AllNews}}
      <div class="news-item">
        <div class="img-hover-zoom">
          <img src="/images/news/{{this.Id}}.jpg" alt="news-cover">
        </div>
        <p class="time" ><i class="bi bi-calendar3"></i> {{this.Time}}</p>
        <h4>{{this.Header}}</h4>
        <p>{{this.Content.[0]}}</p>
        <a href="/news/{{this.Id}}"><button class="btn-md hover-fill-dr">Read more</button></a>
      </div>
      {{/each}}

    </div>
</section>
