
<section class="container" style="margin-top: 50px;">
  <div class="news-div">

    <div class="news-one-item">
      <div>
        <div class="img-hover-zoom">
          <img src="/images/news/{{OneNews.Id}}.jpg" title="{{OneNews.Header}}" alt="{{OneNews.Header}}">
        </div>
      </div>
      <h3>{{OneNews.Header}}</h3>
      <p class="time"><i class="bi bi-calendar3"></i> {{OneNews.Time}}</p>
      <p>{{OneNews.Content.[0]}}</p>
      <p>{{OneNews.Content.[1]}}</p>
      <p>{{OneNews.Content.[2]}}</p>
      <p>{{OneNews.Content.[3]}}</p>
      <p>{{OneNews.Content.[4]}}</p>

    </div>


  </div>
</section>