<section class="our-teacher">
    <div class="main-title title-image">
        <h1>STORE</h1>
    </div>
</section>
<section class="container" style="margin-top: -90px;">
    {{!-- NSA content --}}
    <div class="content-div {{#if adminHere}} edit-boarder {{/if}}">
        {{#if adminHere}} <a class="admin-edit edit-icon-content" data-title="Edit" href="/admin/skssf/store-about"
            target="_blank"><i class="bi bi-pencil-fill"></i></a> {{/if}}
       
        <p class="perag">{{Store.Para1}}</p>
        <p class="perag">{{Store.Para2}}</p>
        <p class="perag">{{Store.Para3}}</p>
        <p class="perag">{{Store.Para4}}</p>
        <p class="perag">{{Store.Para5}}</p>
        
        <div class="pera-buttens">
            {{#if Store.Btn1.Name}}
            <a href="{{Store.Btn1.Link}}" {{#if Store.Btn1.New}} target="_blank" {{/if}}><button class="btn-lg">{{Store.Btn1.Name}} {{#if Store.Btn1.New}} <i class="bi bi-arrow-up-right"></i> {{/if}} </button></a>
            {{/if}}
            {{#if Store.Btn2.Name}}
            <a href="{{Store.Btn2.Link}}" {{#if Store.Btn2.New}} target="_blank" {{/if}}><button class="btn-lg">{{Store.Btn2.Name}} {{#if Store.Btn2.New}} <i class="bi bi-arrow-up-right"></i> {{/if}} </button></a>
            {{/if}}
            
        </div>
        
    </div>

    <div style="margin-top: 0;" class="four-profile {{#if adminHere}} edit-boarder {{/if}}">
        {{#if adminHere}} <a class="admin-edit edit-icon-content" href="/admin/skssf/store-members" data-title="Edit"
            target="_blank"><i class="bi bi-pencil-fill"></i></a> {{/if}}

        {{!-- 25% --}}

        {{#each StorePro}}
        <div id="foru-profile" class="profile ">
            <div>
                <div class="image">
                    <img src="/images/profiles/{{this.Id}}.jpg" title="{{this.FullName}}" alt="{{this.FullName}}">
                </div>
                <div class="content">
                    <h4>{{this.FullName}}</h4>
                    <p>- {{this.Position}} -</p>
                    <hr>
                    <p>{{this.Address}}</p>
                    <p>{{this.Mobile}}</p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>




</section>


{{!-- Color change --}}

<script>

    let pre = document.getElementById('Header').innerHTML
    const first = pre.split(' ').shift();
    document.getElementById("Header").innerHTML = pre.replace(first, `<span class ="first-word">` + first + `</span>`);

</script>