<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}} | NSA Online</title>
  <meta name="description" content="Official website for Noorul huda Students' Association (NSA). Under the Majma'a Sharee-ath & Arts College (Wafy), Kavanur - Areekode,
     You can evaluate the activities and services of our union through the website">
  <meta name="author" content="Noorul huda Students' Association (NSA)">
  <meta name="keywords"
    content="nsaonline, noorul huda, noorul huda students association, nsa, student union, majmaa wafy college, majma'a sharee-ath and arts college, wafy college union,">
  <meta name="copyright" content="noorul huda sutudents association">
  <meta name="robots" content="index, follow">
  <meta name="googlebot" content="index, follow">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-touch-fullscreen" content="yes">

  {{!-- Icon , styleSheet and Javascripts --}}
  <link rel="icon" href="/images/icons/favicon.png">
  <link id='theme-change' class='{{#if nsaWebDarkTheme}}Dark {{else}}Light{{/if}}' rel='stylesheet' {{#if
    nsaWebDarkTheme}} href='/stylesheets/root/dark-theme.css' {{else}} href='/stylesheets/root/light-theme.css'
    {{/if}} />

  {{!-- Other --}}
  <link rel='stylesheet' href='/stylesheets/admin/style.css' />
  <link rel='stylesheet' href='/stylesheets/admin/sign.css' />
  <link rel='stylesheet' href='/stylesheets/admin/header.css' />
  <link rel='stylesheet' href='/stylesheets/admin/home.css' />
  <link rel='stylesheet' href='/stylesheets/admin/first-page.css' />
  <link rel='stylesheet' href='/stylesheets/admin/college.css' />
  <link rel='stylesheet' href='/stylesheets/admin/union.css' />
  <link rel='stylesheet' href='/stylesheets/admin/updates.css' />
  <link rel='stylesheet' href='/stylesheets/admin/more.css' />
  <link rel='stylesheet' href='/stylesheets/commen/style.css' />
  <link rel='stylesheet' href='/stylesheets/user/home.css' />
  <link rel='stylesheet' href='/stylesheets/user/footer.css' />
  <link rel='stylesheet' href='/stylesheets/user/college.css' />
  <link rel='stylesheet' href='/stylesheets/user/nsa.css' />
  <link rel='stylesheet' href='/stylesheets/user/updates.css' />
  <link rel='stylesheet' href='/stylesheets/user/about.css' />
  <link rel='stylesheet' href='/stylesheets/user/header.css' />
  <link rel='stylesheet' href='/stylesheets/user/error.css' />
  {{!-- Demmi --}}
  <link rel='stylesheet' href='/stylesheets/commen/demmi.css' />
  <link rel='stylesheet' href='/stylesheets/commen/admin-demmi.css' />
  {{!-- Animation --}}
  <link rel='stylesheet' href='/stylesheets/user/animations.css' />
  <link rel='stylesheet' href='/stylesheets/admin/animations.css' />
  {{!-- Media --}}
  <link rel='stylesheet' href='/stylesheets/commen/media.css' />
  <link rel='stylesheet' href='/stylesheets/user/media.css' />
  <link rel='stylesheet' href='/stylesheets/admin/media.css' />

  <script src="/javascripts/javascript.js"></script>
  <script src="/javascripts/commen.js"></script>



  {{!-- Google fonts --}}
  <link href='https://fonts.googleapis.com/css?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap'
    rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap'
    rel="stylesheet">
  <link href='https://fonts.googleapis.com/css2?family=Rubik:wght@100;200;300;400;500;600;700;800;900&display=swap'
    rel="stylesheet">
  <link href='https://fonts.googleapis.com/css2?family=Manjari:wght@100;200;300;400;500;600;700;800;900&display=swap'
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

  {{!-- Cropper.js --}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/2.3.4/cropper.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/0.8.1/cropper.min.js"></script>

  {{!-- Boostrap Icon --}}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

  {{!-- Jquary table --}}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>

  {{!-- ajax --}}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  {{!-- Other --}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/platform/1.3.6/platform.min.js"></script>
  <link rel="stylesheet" href="  https://printjs-4de6.kxcdn.com/print.min.css">
  <script src="  https://printjs-4de6.kxcdn.com/print.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" charset="utf-8"></script>

  {{!-- jqury Table --}}

  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.0/css/jquery.dataTables.css">

  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.12.0/js/jquery.dataTables.js"></script>


  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-228273482-1">
  </script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-228273482-1');
  </script>
</head>


<body>
  {{#if adminHere}}
  {{>user-header}}
  {{else}}{{#if user}}
  {{>user-header}}
  {{/if}}{{/if}}
  {{#if sideHeader}}
  {{>admin-header}}
  {{>side-bar}}
  {{/if}}
  {{#if Error}}
  <div id="alert-div" class="admin-alert">
    <div class="alert-box  error-alert">
      <div>
        <div class="icon">
          <div>
            <i id="alertIcon" class="bi bi-x-circle-fill "></i>
          </div>
        </div>
        <div class="message">
          <h5 id="alert-content"> {{Error}}</h5>
        </div>
        <i class="bi bi-x"></i>
        <audio id="alert-audio" autoplay hidden src="/audio/alert/01.mp3"></audio>

      </div>
    </div>
  </div>
  {{/if}}

  {{#if Success}}
  <div class="admin-alert">
    <div class="alert-box success-alert">
      <div>
        <div class="icon">
          <div>
            <i class="bi bi-check-circle-fill"></i>
          </div>
        </div>
        <div class="message">
          <h5> {{Success}}</h5>
        </div>
        <i class="bi bi-x"></i>
        <audio autoplay hidden src="/audio/alert/01.mp3"></audio>

      </div>
    </div>
  </div>
  {{/if}}
  {{{body}}}
  <div id="confirm-box-div" class="confirm-box-div">
    <div id="confirm-box" class="confirm-box">
      <div class="title">
        <i class="bi bi-question-diamond"></i>
        <p id="confirm-title"> - - </p>
      </div>
      <div class="footer">
        <button id="confirmYes" class="btn-lg">Yes</button>
        <button id="confirmNo" class="btn-lg">No</button>
      </div>
    </div>
  </div>
  {{#if admin}}
  {{else}}
  {{>user-footer}}
  {{/if}}
  {{!-- Page loader --}}
  <div id="loader"  class="loading-gif"> 
     <img src="/images/gif/loading-2.gif" alt="">
  </div>
  <script>
    document.onreadystatechange = function () {
      if (document.readyState !== "complete") {
        document.querySelector("body").style.visibility = "hidden";
        document.querySelector("#loader").style.visibility = "visible";
      } else {
        document.querySelector("#loader").style.display = "none";
        document.querySelector("body").style.visibility = "visible";
      }
    };
  </script>

  <script>

    let Android = "Android"
    Android = new RegExp('(\\w*' + Android + '\\w*)', 'gi');
    let ios = "iphone"
    ios = new RegExp('(\\w*' + ios + '\\w*)', 'gi');
    var pho = document.getElementById('hi')
    var AndroidMobile = platform.description.match(Android);
    var iphone = platform.description.match(ios);
    if (AndroidMobile) {
      document.getElementById('mobile').href = "/stylesheets/group/media-mobile.css";

    } else if (iphone) {
      document.getElementById('mobile').href = "/stylesheets/group/media-mobile.css";

    } else {


    }

  </script>
</body>

</html>